<div class="container" class="p-5">
  <h3 class="page-header mt-5">Transaction History</h3>
  <hr>
  <div *ngFor="let tr of userTransactions" class="list-group colour">
    <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{tr.tourTitle}}</h5>
        <small>{{stringAsDate(tr.date) | date:'dd-MM-yy HH:mm:ss'}}</small>
      </div>
      <p class="mb-1">{{tr.agency}}</p>
      <p class="mb-1">Voucher Codes:</p>
      <small *ngFor=" let v of tr.voucherCodes">
        <span>
          <strong>{{v}} &nbsp;&nbsp;&nbsp;</strong>
        </span>
      </small>
      <div class="d-flex w-100 justify-content-between">
        <small *ngIf="tr.claimed" class="mb-1 text-muted">Claimed</small>
        <small *ngIf="!tr.claimed" class="mb-1 text-success">Not yet claimed</small>
        <small>{{'Total Price: PHP' + tr.total}}</small>
      </div>
    </div>
  </div>
  <hr>
</div>
<div class="row justify-content-center align-items-center"  style="margin-bottom: 100px">
  <div class="center-div anchor">
    <br>
    <ul class="pagination pagination-md">
      <li class="page-item">
        <a [class.disabled]="activePage===1" (click)="previousPage()" class="btn page-link">Previous</a>
      </li>
      <div *ngFor="let page of pages; let i = index">
        <li class="page-item" [class.active]="isActivePage(i)">
          <a (click)="toPage(page)" class="page-link">{{page}}</a>
        </li>
      </div>
      <li class="page-item">
        <a [class.disabled]="activePage===pages.length" (click)="nextPage()" class="btn page-link">Next</a>
      </li>
    </ul>
    <br>
  </div>
</div>
<div id="footer" class="container-fluid">
  <div class="container">
    <footer>
      <p>© 2017 Travel Catalog Philippines
      </p>
    </footer>
  </div>
</div>