<div class="container-fluid" stle="margin-top: 70px">
	<div class="col-sm-12  col-md-12  pt-3">
		<h1 align="left">AgencyName</h1>
		  <div class="card">
		  <div class="card-header row">
			<div class="col">
				<h3 align="left">Transaction History</h3>
			</div>
			<div class="col">
				<h3 align="right">Balance: Php500,000<button type="button" class="btn-lg btn-success ml-3">Cash Out</button></h3>
				
		  </div>
		  
          <div class="table-responsive card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Trans_id</th>
                  <th>Customer_id</th>
                  <th>Tour Title</th>
                  <th>Quantity</th>
                  <th>Payment Type</th>
				  <th>Voucher Code</th>
				  <th>Claimed</th>
				  <th>Date</th>
				  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
				  <td>Jerime</td>
				  <td>Mendez</td>
				  <td>Moreno</td>
				  <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">View Details</button></td>
                </tr>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
				  <td>Jerime</td>
				  <td>Mendez</td>
				  <td>Moreno</td>
				  <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">View Details</button></td>
                </tr>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
				  <td>Jerime</td>
				  <td>Mendez</td>
				  <td>Moreno</td>
				  <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">View Details</button></td>
                </tr>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
				  <td>Jerime</td>
				  <td>Mendez</td>
				  <td>Moreno</td>
				  <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">View Details</button></td>
                </tr>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
				  <td>Jerime</td>
				  <td>Mendez</td>
				  <td>Moreno</td>
				  <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">View Details</button></td>
                </tr>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
				  <td>Jerime</td>
				  <td>Mendez</td>
				  <td>Moreno</td>
				  <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">View Details</button></td>
                </tr>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
				  <td>Jerime</td>
				  <td>Mendez</td>
				  <td>Moreno</td>
				  <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">View Details</button></td>
                </tr>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
				  <td>Jerime</td>
				  <td>Mendez</td>
				  <td>Moreno</td>
				  <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">View Details</button></td>
                </tr>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
				  <td>Jerime</td>
				  <td>Mendez</td>
				  <td>Moreno</td>
				  <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">View Details</button></td>
                </tr>
                
              </tbody>
            </table>
          </div>
        </div>					
	</div>
				
</div>		
</div>
<div id="footer" class="container-fluid mt-5" style="bottom: 0">
  <div class="container">
    <footer>
      <p>© 2017 Travel Catalog Philippines
      </p>
    </footer>
  </div>
</div>


<!--MODAL-->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Transaction ID</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Date:	<br>
		Claimed: Y/N	<br>
		Customer_id:	<br>
		Tour Title:		<br>
		Agency: 		<br>
		Quantity:		<br>
		Payment Type:		<br>
		Voucher codes: [ABCDE, FGHI, JKLMN]		<br>
		Total:     <b>  Php 1,000</b>
		
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>