<div class="container p-5" style="margin-top:100px">
  <h2 class="text-center">
    <strong>Register as Travel Agency</strong>
  </h2>
  <br>
  <form (submit)="onRegisterClick()">
    <div class="form-group">
      <label for="agencyName">Agency Name</label>
      <input type="text" [(ngModel)]="agencyName" name="agencyName" class="form-control" id="agencyName" aria-describedby="agencyName"
        placeholder="Jonas Travel and Tours">
    </div>
    <div class="form-group">
      <label for="businessAddress">Address</label>
      <input type="text" [(ngModel)]="address" name="address" class="form-control" id="businessAddress" aria-describedby="businessAddress"
        placeholder="52 Sample St., Cubao, Quezon City">
    </div>
    <div class="form-group">
      <label for="owner">Name of Owner</label>
      <input type="text" [(ngModel)]="ownedBy" name="ownedBy" class="form-control" id="owner" aria-describedby="owner" placeholder="Juan Dela Cruz">
    </div>
    <div class="form-group">
      <label for="contact-number">Contact Number</label>
      <input type="text" [(ngModel)]="mobileNumber" name="mobileNumber" class="form-control" id="contact-number" aria-describedby="contact-number"
        placeholder="+639991234567">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email" aria-describedby="email" placeholder="yourbusiness@email.com">
      <small>Your email will serve as your username.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" [(ngModel)]="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>

    <div class="form-group">
      <label for="dti">DTI Permit</label>
      <input (change)="getDtiFiles($event)" type="file" class="form-control-file" id="dti" aria-describedby="fileHelp">
      <small id="fileHelp" class="form-text text-muted">Please upload a scanned copy of your DTI permit.</small>
    </div>
    <div class="form-group">
      <label for="business-permit">Business Permit</label>
      <input (change)="getBusinessFiles($event)" type="file" class="form-control-file" id="business-permit" aria-describedby="fileHelp">
      <small id="fileHelp" class="form-text text-muted">Please upload a scanned copy of your business permit.</small>
    </div>
    <div class="form-group">
      <label for="bir">BIR Certificate of Registration</label>
      <input (change)="getBirFiles($event)" type="file" class="form-control-file" id="bir" aria-describedby="fileHelp">
      <small id="fileHelp" class="form-text text-muted">Please upload a scanned copy of your BIR Certificate of Registration.</small>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
    <small class="text-danger">&nbsp;{{msg}}</small>
  </form>
</div>