<div class="container-fluid fonty pt-5 pb-5" style="margin-top: 50px;">
  <div class="row">
    <div class="col-lg-4 col-md-3 col-sm-4 col-xs-2">
      <div class="card text-justify mb-2 mt-3 ml-1 mr-1" style="max-width: 40rem;" id="sidebar">
        <div class="card-body">
          <form (submit)="onSearch()">
            <h4 class="card-title">Custom search:</h4>
            <img align="center" src="../../../assets/logo.png" alt="">
            <div class="input-group">
              <input [(ngModel)]="keyword" name="keyword" type="text" class="form-control" placeholder="Keyword">
            </div>
            <hr>
            <label for="minPrice" class="mt-2 mb-0">Price Range</label>
            <div class="row">
              <div class="col place">
                <input [(ngModel)]="minPrice" name="minPrice" type="number" class=" form-control" placeholder="Minimum">
              </div>
              <div class="col place">
                <input [(ngModel)]="maxPrice" name="maxPrice" type="number" class=" form-control" placeholder="Maximum">
              </div>
            </div>
            <hr>
            <p class="card-text mt-2 mb-0">Sort By</p>
            <select [(ngModel)]="sortBy" name="sortBy" class="form-control mb-2" id="exampleFormControlSelect1">
              <option>Price lowest to highest</option>
              <option>Price highest to lowest</option>
              <option>Alphabetical Order</option>
            </select>

            <button type="submit" class="btn btn-lg btn-primary btn-block button">Search</button>
          </form>

        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-9 col-sm-8 col-xs-10">
      <div class="container m-2">
        <div class="row">
          <div *ngFor="let tour of tours; let i = index" class="col-lg-4 col-md-6 p-0 titulo">
            <div class="card text-justify mb-2 mt-2 ml-1 mr-1" style="max-width: 40rem;">
              <img class="card-img-top" src="{{tour.img}}">
              <div class="card-body">
                <h5 class="card-title">
                  <a class="card-link title" [routerLink]="['/tour', tour._id]">{{ tour.title }}</a>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ tour.agency }}</h6>
                <p class="card-text desc">{{ tour.description.substring(0, 120) + "..." }}</p>
                <button [routerLink]="['/tour', tour._id]" class="btn btn-sm btn-primary button">Read More</button>
                <h4 class="float-right">{{ "P" + tour.price }}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="center-div anchor">
          <br>
          <ul class="pagination pagination-md">
            <li class="page-item">
              <a (click)="previousPage()" class="page-link" >Previous</a>
            </li>
            <div *ngFor="let page of pages">
              <li class="page-item">
              <a (click)="toPage(page)" class="page-link" >{{page}}</a>
            </li>
            </div>
            
            <li class="page-item">
              <a (click)="nextPage()" class="page-link">Next</a>
            </li>
          </ul>
          <br>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="footer" class="container-fluid">
  <div class="container">
    <footer>
      <p>© 2017 Travel Catalog Philippines
      </p>
    </footer>
  </div>
</div>