#sidebar {
    border: solid 3px #DCDCDC;
}

.fonty {
    background-color: #F5F5F4;
}

.center-div {
    margin: 0 auto;
}

.active {
    color: black;
    background-color: #d9d9d9;
}

.anchor a {
    color: black;
}

.anchor a:hover {
    background-color: #d9d9d9;
}

.place {
    font-size: 10px;
}

#lala {
    float: left;
}

img {
    display: block;
    margin: auto;
}

.title {
    font-size: 20px;
    font-weight: bold;
    text-justify: false;
    text-align: left;
    color: #404040;
}

.titulo a:hover {
    color: #595959;
}

.desc {
    font-size: 15px;
}

.btn-primary {
    background-color: #003366;
}

.button:hover {
    background-color: #004d99;
}

.btn-secondary {
    background-color: #003366;
}


/*footer*/

#footer {
    padding-top: 3rem;
    background-color: #4F83C6;
    height: 7rem;
    text-align: center;
    color: #F5F5F4;
}
