<div class="container" style="margin-top:100px">

  <!-- ADD TOUR -->
  <!-- Button trigger modal -->
  <div class="row">
    <div class="col-md-3">
      <div class="btn-group" data-toggle="buttons">
        <label (click)="onChangeTab('onsale')" class="btn btn-primary active">
          <input type="radio" name="options" id="option1" autocomplete="off" checked> On Sale
        </label>
        <label (click)="onChangeTab('pending')" class="btn btn-primary">
          <input type="radio" name="options" id="option2" autocomplete="off"> For Approval
        </label>
        <label (click)="onChangeTab('notonsale')" class="btn btn-primary">
          <input type="radio" name="options" id="option3" autocomplete="off"> Archived
        </label>
      </div>
    </div>
    <div class="col-md-1 offset-md-8">
      <button type="button" #btnAddTour class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
        Add Tours
      </button>
    </div>
  </div>
  
  
  <!-- Modal -->

  <div id="addTourModal" #addTourModal class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">

        <form>
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add Tour Package</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">

            <div class="form-group">
              <label for="exampleInputEmail1">Title</label>
              <input [(ngModel)]="title" name="title" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Baguio City Tour 3D2N">
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-lg-6">
                  <label for="exampleInputEmail1">Price Per Voucher</label>
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon">PHP</div>
                    <input [(ngModel)]="price" name="price" type="text" class="form-control" id="inlineFormInputGroup" placeholder="4000">
                  </div>
                </div>
                <div class="col-lg-6">
                  <label for="exampleSelect1">Type</label>
                  <select [(ngModel)]="type" name="type" class="form-control" id="exampleSelect1">
                    <option>Local</option>
                    <option>International</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-lg-6">
                  <label for="exampleInputEmail1">Trip Length in Days</label>
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <input [(ngModel)]="duration" name="duration" type="text" class="form-control" id="inlineFormInputGroup" placeholder="3">
                  </div>
                </div>
                <div class="col-lg-6">
                  <label for="exampleInputEmail1" data-toggle="tooltip" data-placement="top" title="Vouchers must be redeem before expiring.">Voucher Lifespan in Days</label>
                  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <input [(ngModel)]="validityInDays" name="validityInDays" type="text" class="form-control" id="inlineFormInputGroup" placeholder="30">
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="exampleTextarea">Description</label>
              <textarea [(ngModel)]="description" name="description" class="form-control" id="exampleTextarea" rows="3"></textarea>
            </div>
            <div class="form-group">
              <label for="exampleTextarea">Itinerary</label>
              <textarea [(ngModel)]="itinerary" name="itinerary" class="form-control" id="exampleTextarea" rows="3"></textarea>
            </div>
            <div class="form-group">
              <label for="exampleTextarea">Inclusions</label>
              <textarea [(ngModel)]="inclusions" name="inclusions" class="form-control" id="exampleTextarea" rows="3"></textarea>
            </div>
            <div class="form-group">
              <label for="exampleTextarea">Exclusions</label>
              <textarea [(ngModel)]="exclusions" name="exclusions" class="form-control" id="exampleTextarea" rows="3"></textarea>
            </div>
            <div class="form-group">
              <label for="exampleTextarea">Terms and Conditions</label>
              <textarea [(ngModel)]="terms" name="terms" class="form-control" id="exampleTextarea" rows="3"></textarea>
            </div>

            <div class="form-group">
              <label for="exampleInputFile">Tour Photo</label>
              <input (change)="getFiles($event)" name="photo" accept="image/*" type="file" class="form-control-file" id="photo" aria-describedby="fileHelp">
              <small id="fileHelp" class="form-text text-muted">This photo will be used as thumbnail and banner for your tour package.</small>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" (click)="onClickAddTour()" class="btn btn-primary">Submit For Review</button>
          </div>

        </form>
      </div>
    </div>
  </div>
  <!-- end of add tour -->

  <!-- list group -->
  <div *ngFor="let tour of tours; let i = index" class="list-group">
    <a (click)="onItemClick(tour)" data-toggle="modal" data-target="#tourDetails" class="list-group-item list-group-item-action flex-column align-items-start">

      <!-- modal for tour details -->
      <div class="modal fade" id="tourDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">{{selectedTour.title}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- IMAGE -->

              <p>
                <strong>Status</strong>
              </p>
              <p *ngIf="selectedTour.status === 'onsale'" class="text-success">On Sale</p>
              <p *ngIf="selectedTour.status === 'pending'" class="text-warning">Pending</p>
              <p *ngIf="selectedTour.status === 'notonsale'" class="text-danger">Not on sale</p>
              <hr>

              <p>
                <strong>Type</strong>
              </p>
              <p>{{selectedTour.type}}</p>
              <hr>

              <p>
                <strong>Price</strong>
              </p>
              <p>PHP {{selectedTour.pricing.fixed}}</p>
              <hr>

              <p>
                <strong>Trip Length in Days</strong>
              </p>
              <p>{{selectedTour.duration}}</p>
              <hr>

              <p>
                <strong>Voucher Lifespan in Days</strong>
              </p>
              <p>{{selectedTour.validityInDays}}</p>
              <hr>

              <p>
                <strong>Description</strong>
              </p>
              <p>{{selectedTour.description}}</p>
              <hr>

              <p>
                <strong>Itinerary</strong>
              </p>
              <p>{{selectedTour.itinerary}}</p>
              <hr>
              <p>
                <strong>Inclusions</strong>
              </p>
              <p>{{selectedTour.inclusions}}</p>
              <hr>
              <p>
                <strong>Exclusions</strong>
              </p>
              <p>{{selectedTour.exclusions}}</p>
              <hr>
              <p>
                <strong>Terms and Conditions</strong>
              </p>
              <p>{{selectedTour.terms}}</p>
              <hr>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button *ngIf="selectedTour.status === 'onsale'" (click)="onClickStopSelling()" type="button" class="btn btn-secondary btn-danger">Stop selling this package</button>
              <button *ngIf="selectedTour.status === 'pending'" data-dismiss="modal" (click)="onClickStopSelling()" type="button" class="btn btn-secondary btn-danger">Discard Request</button>
            </div>
          </div>
        </div>
        <!-- end of modal -->
      </div>

      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{tour.title}}</h5>
        <small>{{tour.sold}} vouchers sold</small>
      </div>
      <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      <small *ngIf="tour.status === 'onsale'" class="text-success">On Sale</small>
      <small *ngIf="tour.status === 'pending'" class="text-warning">Pending</small>
      <small *ngIf="tour.status === 'notonsale'" class="text-muted">Not on sale</small>
    </a>
  </div>

  <div class="row">
    <div class="center-div anchor">
      <br>
      <ul class="pagination pagination-md">
        <li (click)="previousPage()" class="page-item">
          <a class="page-link">Previous</a>
        </li>
        <div *ngFor="let page of pages">
          <li (click)="toPage(page)" class="page-item">
            <a class="page-link">{{page}}</a>
          </li>
        </div>

        <li (click)="nextPage()" class="page-item">
          <a class="page-link">Next</a>
        </li>
      </ul>
      <br>
    </div>
  </div>

  <!-- Modal -->


</div>
