<div class="container" style="padding-top:7%">
  <form (submit)="onAcceptButtonClick()">
    <div class="card card-outline-secondary">
      <div class="card-header">
        <h2>Terms and Conditions</h2>
      </div>
      <div class="card-body">
        <ul>
          <li>
            Once a purchase is made, your credit card will be charged and there is no refund.
          </li>
          <li>
            A voucher once redeemed, becomes void for further use and cannot be refunded.
          </li>
          <li>
            The validity of vouchers cannot be extended or change.
          </li>
          <li>
            Vouchers will be valid for redemption {{tour.validityInDays}} days from the date of purchase.
          </li>
          <li>
            Vouchers are non-transferable, can only be redeemed by the customers they are issued to and no cash alternative is available.
          </li>
        </ul>
      </div>
      <div align="right" class="card-footer text-muted">
        <app-make-payment [quantity]="quantity" [tour]="tour" [user]="user"></app-make-payment>
      </div>
    </div>


  </form>
</div>
<div id="footer" class="container-fluid mt-5" style="bottom: 0">
  <div class="container">
    <footer>
      <p>© 2017 Travel Catalog Philippines
      </p>
    </footer>
  </div>
</div>