<div class="container">
  <form (submit)="onAcceptButtonClick()">
    <h1>Important</h1>
    <p>Herp derpsum sherper ner merpus le herpem herpy me merp perp der! Terp derp herpler ler me? Sherp perper me derp herp
      merp herpsum. Le merp derp terp berps ter. Herpderpsmer ner, herp me serp. Herp derperker sherlamer me le herpsum tee
      derpy berp derps. Sherp perp berps me herp pee dee berp, derpus merpus. Le derpy dee me. Derpler herpler terp derpy
      serp me? Terpus ter berps ler perp. Ter derpsum sherlamer herp dee le merpus. Derp der sherp pee. Tee ner me perp derpsum
      perper dee ler derp? Mer sherper derperker terp pee nerpy derps herderder. Derpler berps terpus herpy ler, le derp!
      Perper berps derp, herp berp. Perp herpsum, derpy derperker sherper le merp nerpy herpderpsmer herpy.</p>
      <app-make-payment [quantity]="quantity" [tour]="tour" [user]="user"></app-make-payment>
  </form>
</div>