<div class="container" style="margin-top:150px">
  <h2 class="text-center"><strong>Register</strong></h2>
  <br>
	<div class="row">
		<div class="col-lg-6 offset-lg-3">
			<form (submit)="onRegisterSubmit()">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" [(ngModel)]="firstname" name="firstname" class="form-control" placeholder="Firstname">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input type="text" [(ngModel)]="lastname" name="lastname" class="form-control" placeholder="Lastname">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">

              <div class="form-group">
                <input type="text" [(ngModel)]="email" name="email" class="form-control" placeholder="Email">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <input type="text" [(ngModel)]="mobileNumber" name="mobileNumber" class="form-control" placeholder="Mobile Number">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Password">
                <small class="text-danger">{{msg}}</small>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-sm-12">
                  <input type="submit" class="btn btn-primary btn-block" value="Submit">
                  <br>
                  <a [routerLink]="['/login']" class="text-center pull-right">Already have an account?</a>
              </div>
            </div>
        </div>
      </form>
		</div>
	</div>
</div>