<!-- <div class="container" style="margin-top:50px; margin-bottom:50px;">
  <div class="row">
    <div class="col-md-12">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button">Go!</button>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="container m-2">
        <div class="row">
          <div *ngFor="let tour of tours" class="col-lg-4 col-md-6 p-0">
            <div class="card text-justify mb-2 mt-2 ml-1 mr-1" style="max-width: 40rem;">
              <img class="card-img-top" src="http://via.placeholder.com/300x200">
              <div class="card-body">
                <h4 class="card-title">
                  <a class="card-link" href="#">{{ tour.title }}</a>
                </h4>
                <h6 class="card-subtitle mb-2 text-muted">{{ tour.agency }}</h6>
                <p class="card-text">{{ tour.description.substring(0, 120) + "..." }}</p>
                <button [routerLink]="['/tour', tour._id]" class="btn btn-sm btn-primary">Read More</button>
                <h4 class="float-right">{{ "P" + tour.pricing.fixed }}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div id="banner" class="container-fluid">
  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1><strong>Travel Catalog</strong></h1>
          <h3 class="mb-5">Swim. Trek. Climb. Dive. Hike. Fly. Run. Surf.</h3>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" class="form-control form-control-lg" placeholder="Where do you want to go?">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Go!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>
</div>

<div class="container" style="margin-top:90px; margin-bottom:50px;">
  <div class="row">
    <div class="col-md-12">
      <div class="container m-2">
        <div class="row">
          <div *ngFor="let tour of tours" class="col-lg-4 col-md-6 p-0">
            <div class="card text-justify mb-2 mt-2 ml-1 mr-1" style="max-width: 40rem;">
              <img class="card-img-top" src="http://via.placeholder.com/300x200">
              <div class="card-body">
                <h4 class="card-title">
                  <a class="card-link title" href="#">{{ tour.title }}</a>
                </h4>
                <h6 class="card-subtitle mb-2 text-muted">{{ tour.agency }}</h6>
                <p class="card-text desc">{{ tour.description.substring(0, 120) + "..." }}</p>
                <button [routerLink]="['/tour', tour._id]" class="btn btn-sm btn-primary button">Read More</button>
                <h4 class="float-right">{{ "P" + tour.pricing.fixed }}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="center-div anchor">
          <ul class="pagination pagination-md">
            <li class="page-item">
              <a class="page-link" href="#">Previous</a>
            </li>
            <li class="page-item">
              <a class="page-link active" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<hr class="featurette-divider" style="margin-top: 200px;">
<div class="container marketing">
  <div class="row">
    <div class="col-lg-4">
      <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image"
        width="140" height="140">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id
        elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
    </div>
    <div class="col-lg-4">
      <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image"
        width="140" height="140">
      <h2>Heading</h2>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur
        purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
    </div>
    <div class="col-lg-4">
      <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image"
        width="140" height="140">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod
        semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet
        risus.
      </p>
    </div>
  </div>

  <footer>
    <p class="float-right">
      <a href="">Back to top</a>
    </p>
    <p>© 2017 Travel Catalog Philippines·
      <a href="">Terms</a>
    </p>
  </footer>
</div>