<div class="container-fluid" style="margin-top:50px; margin-bottom:50px;">
  <div class="row">
    <div class="col-md-3">
      <!-- Search goes here -->
    </div>
    <div class="col-md-9">
      <div class="container m-2">
        <div class="row">
          <div *ngFor="let tour of tours" class="col-lg-4 col-md-6 p-0">
            <div class="card text-justify mb-2 mt-2 ml-1 mr-1" style="max-width: 40rem;">
              <img class="card-img-top" src="http://via.placeholder.com/300x200">
              <div class="card-body">
                <h4 class="card-title">
                  <a class="card-link" href="#">{{ tour.title }}</a>
                </h4>
                <h6 class="card-subtitle mb-2 text-muted">{{ tour.agency }}</h6>
                <p class="card-text">{{ tour.description.substring(0, 120) + "..." }}</p>
                <button (click)="onReadMoreClick(tour)" class="btn btn-sm btn-primary">Read More</button>
                <h4 class="float-right">{{ "P" + tour.pricing.fixed }}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>