body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}

#banner {
    padding: 0px;
    margin: 0px;
}

.center-div {
    margin: 0 auto;
}

.active {
    color: black;
    background-color: #d9d9d9;
}

.anchor a {
    color: black;
}

.anchor a:hover {
    background-color: #d9d9d9;
}

.carousel {
    margin-bottom: 4rem;
}

.title {
    font-size: 20px;
    font-weight: bold;
    text-justify: false;
    text-align: left;
    color: #404040;
}

.title a:hover {
    color: #999999;
}

.desc {
    font-size: 15px;
}

.btn-primary {
    background-color: #003366;
}

.btn-secondary {
    background-color: #003366;
}


/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    z-index: 10;
    bottom: 3rem;
}


/* Declare heights because of positioning of img element */

.carousel-item {
    height: 32rem;
    background-color: #777;
}

.carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}


/* MARKETING CONTENT
  -------------------------------------------------- */


/* Center align the text within the three columns below the carousel */

.marketing {
    padding-top: 3rem;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


/* Featurettes
  ------------------------- */


/* .featurette-divider {
    margin: 5rem 0;
} */


/* Thin out the marketing headings */

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

.button:hover {
    background-color: #004d99;
}


/* RESPONSIVE CSS
  -------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

header.masthead {
    position: relative;
    background-color: #343a40;
    background: url("../../../assets/maldives.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}

header.masthead h1 {
    font-size: 2rem;
}

header.masthead h1 h3 {
  color: #FEF8F2;
}

@media (min-width: 768px) {
    header.masthead {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
    header.masthead h1 {
        font-size: 3rem;
    }
}

.features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.features-icons .features-icons-item {
    max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
    height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
    font-size: 5rem;
}

/* FEATURED ITEMS */

#featured {
  background-color: #F5F5F4;
}

/*footer*/

#footer {
  padding-top: 3rem;
  background-color: #4F83C6;
  height: 7rem;
  text-align: center;
  color: #F5F5F4;
}
